In [3]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline

In [4]:
rankings = pd.read_csv('../Data/fifa_ranking.csv')

In [5]:
rankings.head()

,rank,country_full,country_abrv,total_points,previous_points,rank_change,cur_year_avg,cur_year_avg_weighted,last_year_avg,last_year_avg_weighted,two_year_ago_avg,two_year_ago_weighted,three_year_ago_avg,three_year_ago_weighted,confederation,rank_date
0,1,Germany,GER,0.0,57,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
1,2,Italy,ITA,0.0,57,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
2,3,Switzerland,SUI,0.0,50,9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
3,4,Sweden,SWE,0.0,55,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
4,5,Argentina,ARG,0.0,51,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CONMEBOL,1993-08-08

In [ ]:
rankings.loc[:,['rank', 'country_full', 'country_abrv', '']]

In [14]:
rankings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57793 entries, 0 to 57792
Data columns (total 16 columns):
rank                       57793 non-null int64
country_full               57793 non-null object
country_abrv               57793 non-null object
total_points               57793 non-null float64
previous_points            57793 non-null int64
rank_change                57793 non-null int64
cur_year_avg               57793 non-null float64
cur_year_avg_weighted      57793 non-null float64
last_year_avg              57793 non-null float64
last_year_avg_weighted     57793 non-null float64
two_year_ago_avg           57793 non-null float64
two_year_ago_weighted      57793 non-null float64
three_year_ago_avg         57793 non-null float64
three_year_ago_weighted    57793 non-null float64
confederation              57793 non-null object
rank_date                  57793 non-null object
dtypes: float64(9), int64(3), object(4)
memory usage: 7.1+ MB

In [11]:
country_name = rankings['country_full'].unique()

In [12]:
matches = pd.read_csv('../Data/results.csv')

In [13]:
matches.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False

In [15]:
matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39050 entries, 0 to 39049
Data columns (total 9 columns):
date          39050 non-null object
home_team     39050 non-null object
away_team     39050 non-null object
home_score    39050 non-null int64
away_score    39050 non-null int64
tournament    39050 non-null object
city          39050 non-null object
country       39050 non-null object
neutral       39050 non-null bool
dtypes: bool(1), int64(2), object(6)
memory usage: 2.4+ MB

In [17]:
for name in matches['home_team'].unique():
    if name not in country_name:
        print(name)

Czechoslovakia
China
Ireland
Guadeloupe
French Guyana
St. Kitts and Nevis
Manchukuo
Martinique
Iran
Réunion
Zanzibar
Burma
German DR
Saarland
Vietnam Republic
Ivory Coast
North Vietnam
Taiwan
St. Lucia
St. Vincent and the Grenadines
Yemen DPR
São Tomé and Príncipe
Northern Cyprus
Cape Verde
Kyrgyzstan
Kiribati
Wallis Islands and Futuna
Brunei
Greenland
Niue
Palau
Sint Maarten
St. Martin
Guernsey
Macedonia
Jersey
Bosnia-Herzegovina
Virgin Islands
Micronesia FS
Monaco
Tuvalu
Mayotte
East Timor
Northern Mariana Islands
Bonaire
St. Pierre & Miquelon